*{
    box-sizing: border-box;
}
body{
    text-align:center;
}

#drawing_board{
    border:1px solid black;
    padding:10px;
    /*min-width:770px;*/
}
.clickable{
    border:1px dotted grey;
    display:inline-block;
    z-index:100;
}
.row{
    display:block;
    height:15px;
    /*min-width:750px;*/
    z-index: -100;
}
.red{
    background-color:red;
}
input{
    color:transparent;
    width:15px;
    height:15px;
}